<h2>(<%= current_user.created_events.count%>)Created events<h2>
<div class="created_events">
 <% current_user.created_events.each do |event| %>
  <ul>
    <li><%= event.description%></li>
  </ul>
 <% end %>
</div>
<h2>(<%= current_user.events.count%>)attending events</h2>
<div class="attending_events">
<% current_user.events.each do |event|%>
  <ul>
    
    <%if event.date < Date.today%>
      <h3>Previously attended events</h3>
      <li><%= event.description%>
      <%= link_to 'show', event_path(event.id)%>
      </li><br />
    <% else%>
      <h3>Upcoming events</h3>
      <li><%= event.description%>
        <%= link_to 'show', event_path(event.id)%>
      </li><br />
    <% end %>   
  </ul>
<% end %>
</div>